notebooks/*.obj
notebooks/*.png
notebooks/*.mtl
__pycache__/
tmp_val_OR/
models
models_ckpt
dataset/
results/
logs/
logs
logs_cluster/
notebooks/.ipynb_checkpoints/
cluster_control/tasks/
archive/
pretrained/
Summary_vis/
Summary_vis_cluster/
Checkpoint
Checkpoint_cluster
vis/
train/tmp.zip
job_list/
logs_cluster
cluster_control/tb_job.yaml
cluster_control/yamls/
*.npy
a.pkl
tmp
third_parties_outside/iiw-decompositions
third_parties_outside/CGIntrinsics
third_parties_outside/Neural-Inverse-Rendering
third-parties_outside/adobe_svbrdf-master/train_list_cs.txt
third_parties_outside/apex
third_parties_outside/YOGO
third_parties_outside/VirtualObjectInsertion
third_parties_outside/repo_zhengqinCVPR/InverseRenderingOfIndoorScene
tmp.py
tmp.pickle
notebooks/scene_mesh_debug*.obj
__pycache__
./*.obj
*.obj
Summary_vis
VTK
*.pkl
*.mtl
*.rgbe
*-copy.py
BRDFOriginDataset
EnvDataset
layoutMesh
uv_mapped
train/models_def/model_nvidia/ssn_3d/dist/*
train/models_def/model_nvidia/ssn_3d/pdist3dgmm.egg-info/*
train/models_def/model_nvidia/ssn_3d/build/*
train/models_def/model_nvidia/ssn/dist/*
train/models_def/model_nvidia/ssn/pdist.egg-info/
train/models_def/model_nvidia/ssn/build/*
notebooks/render_OR_sequence_scannetPoses-Copy1.ipynb
notebooks/render_OR_sequence_scannetPoses-Copy2.ipynb
notebooks/render_OR_sequence_scannetPoses-Copy3.ipynb